torch-geometric==2.5.3
tqdm==4.66.4
yarl==1.9.4
pytorch==1.12.1
cudatoolkit=11.3.1
cudnn==8.9.2.26
numpy=1.23.1
pandas=1.4.3
pyyaml==6.0
tensorboard==2.8.0
tensorboardx==2.2
yaml==0.2.5
horovod==0.28.1
pymongo==4.6.0
rdkit==2023.9.1
torch-cluster==1.6.0+pt112cu113
torch-geometric==2.4.0
torch-scatter==2.1.0+pt112cu113
torch-sparse==0.6.16+pt112cu113
torch-spline-conv==1.2.1+pt112cu113
torchsummary==1.5.1